.container {
  padding-top: 100px;
}

.array_bar {
  width: 0.5vw;
  background-color: royalblue;
  display: inline-block;
  margin: 0 1px;
  justify-content: center;
}

.array_container {
  display: flex;
  align-items: center;
  height: 85vh;
  margin-left: 4vw;
}
